@font-face {
  font-family: "Glegoo-regular";
  src: url("../assets/Glegoo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Glegoo-bold";
  src: url("../assets/Glegoo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-regular";
  src: url("../assets/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-thin";
  src: url("../assets/Inter-Thin.ttf") format("truetype");
}

/* BASICS */

.page {
  background-color: rgb(238, 238, 238);
  font-family: "Inter-regular" !important;
}

.radius {
  border-radius: 4px;
}
.radius-top {
  border-radius: 4px 4px 0px 0px;
}

.error {
  color: rgb(105, 5, 5);
  font-weight: bold;
  font-size: 0.8em;
  padding: 15px;
}

.bt {
  color: #0b2d7c;
}

button {
  padding: 2px 30px;
  border-color: #0b2d7c;
}

.hr {
  height: 2px;
  background-color: rgb(238, 238, 238);
  border-radius: 4px;
}

.bg-faded {
  background-color: #9dabcb;
}

.wd100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.border-white {
  border-color: white;
}

.network-ico {
  font-size: 25px;
}

/*   HEADER   */

.header,
.bg {
  background-color: #0b2d7c;
}

.title-font {
  font-family: "Glegoo-bold";
}

.highlight {
  background-color: #2f87a5;
}

.header,
.wt {
  color: white;
}

.align-bottom {
  align-items: flex-end;
}

.grayscale-image {
  filter: grayscale(100%);
}

/* MENU */
.menu-bar,
.title-bar,
.main {
  max-width: 1200px;
  width: 100%;
}

.menu-links a {
  padding-right: 25px;
  text-transform: uppercase;
  color: rgb(214, 214, 214);
}

.circle {
  border-radius: 100px;
  border-width: 2px;
  height: 10px;
  width: 10px;
  padding: 8px 10px 10px 6px;
}

/*   MAIN    */

.ico {
  color: #2f87a5;
}

.text-gray {
  color: gray;
  text-transform: uppercase;
}

.file-upload {
  border-color: white;
  color: white;
}

input[type="file"]::file-selector-button {
  border: 2px solid #0b2d7c;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #0b2d7c;
  transition: 0.2s;
  color: white;
  font-size: 15px;
}

input[type="file"]::file-selector-button:hover {
  background-color: #2f87a5;
  border: 2px solid #2f87a5;
}

.upload-ico {
  font-size: 70px;
}
.sign-ico {
  color: #2f87a5;
  font-size: 70px;
}

/* TERMS */

.terms {
  margin: 0;
  display: flex;
  align-items: center !important;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #9dabcb;
  color: white;
}

.terms div {
  max-width: 800px;
  text-align: center;
  padding: 40px;
  border-radius: 8px;
  background-color: #0b2d7c;
}

.terms h2 {
  font-size: 28px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.terms p {
  margin-bottom: 35px;
}
.terms div label input {
  width: 20px;
}
.terms-button {
  border-width: 1px;
  border-color: white;
  padding: 6px 40px;
  transition: 0.2s;
}
.terms-button:hover {
  background-color: #2f87a5;
  border: 1px solid white;
}
