:root {
  --cola: #fff6fb;
  --colb: #fcf1ff;
  --smfont: 11px;
  --lgfont: 13px;
}

.tb p {
  padding: 5px 0px;
}

.tb-head {
  border-bottom: rgb(240, 220, 252) 5px solid;
  font-size: 18px !important;
  font-weight: bold;
}

.tb-tl {
  border-radius: 10px 0px 0px 0px !important;
}
.tb-tr {
  border-radius: 0px 10px 0px 0px !important;
}
.tb-bl {
  border-radius: 0px 0px 0px 10px !important;
}
.tb-br {
  border-radius: 0px 0px 10px 0px !important;
}

.tb-left1 {
  background-color: var(--cola);
  border-radius: 0px 0px 0px 0px;
  padding: 10px;
  font-size: var(--smfont);
  font-weight: bold;
}

.tb-right1 {
  background-color: var(--colb);
  border-radius: 0px 0px 0px 0px;
  padding: 10px;
  font-size: var(--lgfont);
}

.tb-left2 {
  background-color: var(--colb);
  border-radius: 0px 0px 0px 0px;
  padding: 10px;
  font-size: var(--smfont);
  font-weight: bold;
}

.tb-right2 {
  background-color: var(--cola);
  border-radius: 0px 0px 0px 0px;
  padding: 10px;
  font-size: var(--lgfont);
}
